/* HEADER */

.main-header {
  margin: 1rem 1.5rem;
}

 .main-header .title {
  font-size: 1.3em;
  margin: 0;
  }

  .main-header .text {
  font-size: .8em;
  font-weight: 700;
  margin: 0;
  }


.sociales-header {
  padding-bottom: 1.3rem;
  margin-bottom: 1.5rem;
  /* border-bottom:  1px solid gray; */
}

.mode {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding-bottom: 2rem;

}

  .mode .text-mode {
  font-size: .9rem;
  font-weight: 700;
  padding-bottom: 0;
  }


.change {
  width: 4rem;
  height: 2rem;
  border-radius: 5rem;
  padding: .11rem;
  position: relative;
  cursor: pointer;
  background: var(--Gray);
}

.ball {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  position: absolute;
  background: var(--White);
}

.move {
  transition: 1s;
  right: 4%;
}


