:root {
  /* PRIMARIOS */
--Lime-Green: hsl(163, 72%, 41%);
--Bright-Red: hsl(356, 69%, 56%);
--Facebook: hsl(214, 55%, 58%);
--Twitter: hsl(203, 89%, 53%);
--Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
--YouTube: hsl(348, 97%, 39%);
--margin-over-view: .6rem 0;

/* LIGHT THEME */
--White: hsl(0, 0%, 100%);
--Very-Pale-Blue: hsl(225, 100%, 98%);
--Light-Grayish-Blue: hsl(227, 47%, 96%);
--Dark-Grayish-Blue: hsl(228, 12%, 44%);
--Very-Dark-Blue: hsl(230, 17%, 14%);
--Gray: rgb(172, 169, 169);
/* DARK THEME */
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background: var(--White);
}

p {
  margin: 0;
}