:root {
  /* PRIMARIOS */
--Lime-Green: hsl(163, 72%, 41%);
--Bright-Red: hsl(356, 69%, 56%);
--Facebook: hsl(214, 55%, 58%);
--Twitter: hsl(203, 89%, 53%);
--Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
--YouTube: hsl(348, 97%, 39%);
--margin-over-view: .6rem 0;

/* LIGHT THEME */
--White: hsl(0, 0%, 100%);
--Very-Pale-Blue: hsl(225, 100%, 98%);
--Light-Grayish-Blue: hsl(227, 47%, 96%);
--Dark-Grayish-Blue: hsl(228, 12%, 44%);
--Very-Dark-Blue: hsl(230, 17%, 14%);
--Gray: rgb(172, 169, 169);
/* DARK THEME */
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background: var(--White);
}

p {
  margin: 0;
}






@media screen and (min-width: 480px) {
   .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }

  .b-instagram {
  position: absolute;
  top: 0rem;
  }

  .instagram {
    padding-top: 1.8rem;
  }

  .overview {
    margin: 2rem 7rem 2rem 1.5rem;
  }

  .mode {
    justify-content: space-between;
  }
}



@media screen and (min-width: 750px) {
   .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }

  .main-header {
    margin: 1rem 1.5rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .mode {
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
  } 

  .text-mode {
    font-size: 1.2rem;
  }
  
  .sociales-header {
    border-bottom: none;
  }

  .main-header .title {
    font-size: 1.8rem;
  }

  .change {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1024px) {
   .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
   :root {
--Very-Dark-Blue: hsl(230, 17%, 14%);
--Very-Dark-Blue-t: hsl(232, 19%, 16%);
--Dark-Desaturated-Blue: hsl(228, 28%, 20%); 
--Desaturated-Blue: hsl(228, 34%, 66%);
--White: hsl(0, 0%, 100%);
--switchBtn: #313250;
--switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
 }
}

  
   .mode-active-dark  .main {
    background: var(--Very-Dark-Blue);
  }
 
   .mode-active-dark .sociales-header {
    color: var(--White);
  }

    .mode-active-dark .sociales-header .text {
    color: var(--Desaturated-Blue);
  }

    .mode-active-dark .mode .text-mode {
    color: var(--Desaturated-Blue);
  }
  
  .mode-active-dark .section-one {
    color: var(--Desaturated-Blue);
  }

   .mode-active-dark .card {
    background: var(--Dark-Desaturated-Blue);
  }

   .mode-active-dark .card__followers .number {
    color: var(--White);
  }

    .mode-active-dark .cuadro {
    background: var(--Very-Dark-Blue-t);
  }

    .mode-active-dark .overview {
    color: var(--White);
  }

    .mode-active-dark .card__overview {
    background: var(--Dark-Desaturated-Blue);
    margin-bottom: 1.5rem;
    color: var(--Desaturated-Blue);
  }

    .mode-active-dark .pages__view .number {
    color: var(--White);
  }

   .mode-active-dark  .change {
    background-image: var(--switch);
  }

    .mode-active-dark .ball {
    background: var(--Very-Dark-Blue);
  }
