

/* CARD OVERVIEW */


/* 
.overview {
  margin:1.5rem;

  .title {
  font-weight: 700;
  font-size: 1.1rem;
  }
}

.section-two {
  margin: 0 1.5rem;
}

.card__overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  padding: 1rem;
  border-radius: .4rem;
  background: var(--Light-Grayish-Blue);
  margin-bottom: 1.5rem;
  color: var(--Dark-Grayish-Blue);

  .pages__view {
  display: flex;
  flex-direction: column;
  justify-content: center;

    .name {
    font-weight: 700;
    font-size:  .7rem;
    margin: .4rem 0;
    }

    .number {
    font-weight: 700;
    font-size:  1.5rem;
    margin: var(--margin-over-view);
    color: var(--Very-Dark-Blue);
    }
  }

  .sociales__overview { */
  /* border: 1px solid blue; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

    .social-media {
    margin: var(--margin-over-view);
    }
  }
}

.percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--margin-over-view);

  .icon {
  margin: var(--margin-over-view);
  display: flex;
  align-items: center;
  }

  .text {
  font-size: .7rem;
  font-weight: 700;
  color: var(--Lime-Green);
  }
}

.youtube .text {
  color: var(--Bright-Red);
}

.percentage .down {
  color: var(--Bright-Red);
}


@media screen and (min-width: 480px) {
   .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }

  .b-instagram {
  position: absolute;
  top: 0rem;
  }

  .instagram {
    padding-top: 1.8rem;
  }

  .overview {
    margin: 2rem 7rem 2rem 1.5rem;
  }
}

@media screen and (min-width: 750px) {
   .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }

  .main-header {
    margin: 1rem 1.5rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .mode {
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
  } 

  .text-mode {
    font-size: 1.2rem;
  }
  
  .sociales-header {
    border-bottom: none;
  }

  .main-header .title {
    font-size: 1.8rem;
  }

  .change {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1024px) {
   .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
   :root {
--Very-Dark-Blue: hsl(230, 17%, 14%);
--Very-Dark-Blue-t: hsl(232, 19%, 16%);
--Dark-Desaturated-Blue: hsl(228, 28%, 20%); 
--Desaturated-Blue: hsl(228, 34%, 66%);
--White: hsl(0, 0%, 100%);
--switchBtn: #313250;
--switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
 }
}

  .mode-active-dark {
    .main {
    background: var(--Very-Dark-Blue);
  }
 
  .sociales-header {
    color: var(--White);
  }

  .sociales-header .text {
    color: var(--Desaturated-Blue);
  }

  .mode .text-mode {
    color: var(--Desaturated-Blue);
  }
  
  .section-one {
    color: var(--Desaturated-Blue);
  }

  .card {
    background: var(--Dark-Desaturated-Blue);
  }

  .card__followers .number {
    color: var(--White);
  }

  .cuadro {
    background: var(--Very-Dark-Blue-t);
  }

  .overview {
    color: var(--White);
  }

  .card__overview {
    background: var(--Dark-Desaturated-Blue);
    margin-bottom: 1.5rem;
    color: var(--Desaturated-Blue);
  }

  .pages__view .number {
    color: var(--White);
  }

  .change {
    background-image: var(--switch);
  }

  .ball {
    background: var(--Very-Dark-Blue);
  }
} */



/* const ball = document.getElementById('ball')

ball.addEventListener('click', () => {
  ball.classList.toggle('move')
  document.body.classList.toggle('mode-active-dark')
}) */